<footer>

    <a href=""><img id="logo" src="assets/img/footer/logo.png" alt=""></a>
    <h1><b>Burguer Grill </b>© Todos os direitos reservados - Erivelton Magalhães - <a href="https://web-desing-page.netlify.app/">Site Oficial</a>
    </h1>
    
    <div class="icon">
      <a href="https://www.linkedin.com/in/erivelton-magalh%C3%A3es-553a6b215/"><i class="bi bi-linkedin"></i></a>  
      <a href="https://wa.me/5561981579569?text=Ol%C3%A1!%20Estou%20interessado%20em%20obter%20um%20or%C3%A7amento%20para%20um%20projeto%20de%20web%20design.%20Poderia%20me%20enviar%20mais%20informa%C3%A7%C3%B5es%20sobre%20seus%20servi%C3%A7os%20e%20os%20pre%C3%A7os%3F%20Fico%20no%20aguardo%2C%20obrigado!"><i class="bi bi-whatsapp"></i></a>  
      <a href="https://web-desing-page.netlify.app/"><i class="bi bi-person-circle"></i></a>  
    </div>

</footer>