<section class="section-3" id="cardapio">
    <div class="titulo">
        <p>CARDÁPIO</p>
        <h1>Conheça o nosso cardápio</h1>

    </div>
    <div class="menu-button">
        <button onclick="cardHamburguer()"><img src="assets/img/icon/icon-menu-button/hamburguer.png" alt="">
            <li>Burger</li>
        </button>
        <img id="gif-hamburguer" src="assets/img/card-produtos/gif/burger-dance.gif" alt="">

        <button onclick="cardPizza()"><img src="assets/img/icons/icon-menu-button/pizza.png" alt="">Pizzas</button>
        <button onclick="cardChurrasco()"><img src="assets/img/icons/icon-menu-button/churrasco.png"
                alt="">Churrasco</button>
        <button onclick="cardBebidas()"><img src="assets/img/icons/icon-menu-button/coquetel.png" alt="">Bebidas</button>
        <button onclick="cardSobremesas()"><img src="assets/img/icons/icon-menu-button/sobremesas.png"
                alt="">Sobremesas</button>

    </div>

    <div class="cards" id="cards">
        <div class="card" id="texto-card">

            <img class="imgProduto" src="assets/img/card-produtos/img-1.jpg" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-1')">-</button>
                    <div id="valor">
                        <p id="quantidade-1">0</p>
                    </div>
                    <button onclick="increment('quantidade-1')">+</button>
                </div>

                <img id="sacola-icon" onclick="adicionarAoCarrinho('quantidade-1', 'Hamburguer Gramercy Taver', 99.50)"
                    src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>

        <!-- 2 -->

        <div class="card" id="texto-card-2">

            <img class="imgProduto" src="assets/img/card-produtos/img-2.jpg" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-2')">-</button>
                    <div id="valor">
                        <p id="quantidade-2">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-2','nomeProduto')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon', '2-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="">
            </div>

        </div>
        <!-- card 3  -->


        <div class="card" id="texto-card-3">

            <img class="imgProduto" src="assets/img/card-produtos/img-3.jpg" alt="">

            <div class="content-card" id="card-content-3">
                <h2>Gramercy Tavern</h2>
                <span>R$ 49,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-3')">-</button>
                    <div id="valor">
                        <p id="quantidade-3">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-3')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-3', '3-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="">
            </div>

        </div>
        <!-- 4 -->
        <div class="card" id="texto-card-4">

            <img class="imgProduto" src="assets/img/card-produtos/img-4.jpg" alt="">

            <div class="content-card" id="card-content-2">
                <h2>Gramercy Tavern</h2>
                <span>R$ 55,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-4')">-</button>
                    <div id="valor">
                        <p id="quantidade-4">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-4')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-4', '4-Hamburguer Gramercy gurmet', 55.50)"
                    src="assets/img/icons/sacola.png" alt="">
            </div>

        </div>
        <!-- 5 -->


        <div class="card" id="texto-card-5">

            <img class="imgProduto" src="assets/img/card-produtos/img-5.jpg" alt="">

            <div class="content-card" id="card-content-2">
                <h2>Gramercy Tavern</h2>
                <span>R$ 55,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-5')">-</button>
                    <div id="valor">
                        <p id="quantidade-5">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-5')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-5', '5-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="">
            </div>

        </div>


        <!-- 6 -->

        <div class="card" id="texto-card-6">

            <img class="imgProduto" src="assets/img/card-produtos/img-6.jpg" alt="">

            <div class="content-card" id="card-content-2">
                <h2>Gramercy Tavern</h2>
                <span>R$ 55,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-6')">-</button>
                    <div id="valor">
                        <p id="quantidade-6">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-6')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-6', '6-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="">
            </div>

        </div>
        <!--  -->

        <div class="card" id="texto-card-7">

            <img class="imgProduto" src="assets/img/card-produtos/img-7.jpg" alt="">

            <div class="content-card" id="card-content-2">
                <h2>Gramercy Tavern</h2>
                <span>R$ 55,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-7')">-</button>
                    <div id="valor">
                        <p id="quantidade-7">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-7')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-7', '7-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="">
            </div>

        </div>


        <!--  -->
        <div class="card" id="texto-card-8">

            <img class="imgProduto" src="assets/img/card-produtos/img-8.jpg" alt="">

            <div class="content-card" id="card-content-8">
                <h2>Gramercy Tavern</h2>
                <span>R$ 55,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-8')">-</button>
                    <div id="valor">
                        <p id="quantidade-8">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-8')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-8', '8-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="">
            </div>

        </div>


        <!-- card escondido -->

        <div class="cardEscondido" id="cardEscondido">
            <!-- card 9 -->
            <div class="card" id="texto-card-9">

                <img class="imgProduto" src="assets/img/card-produtos/img-9.jpg" alt="">

                <div class="content-card" id="card-content-9">
                    <h2>Gramercy Tavern</h2>
                    <span>R$ 55,00</span>

                </div>

                <div id="input-produtos">
                    <div class="inputValor">
                        <button onclick="decrement('quantidade-9')">-</button>
                        <div id="valor">
                            <p id="quantidade-9">0</p>
                        </div>
                        <button href="" onclick="increment('quantidade-9')">+</button>
                    </div>
                    <img id="sacola-icon"
                        onclick="adicionarAoCarrinho('sacola-icon-9', '9-Hamburguer Gramercy gurmet', 99.50)"
                        src="assets/img/icons/sacola.png" alt="">
                </div>

            </div>
            <!-- card 10 -->
            <div class="card" id="texto-card-10">

                <img class="imgProduto" src="assets/img/card-produtos/img-10.jpg" alt="">

                <div class="content-card" id="card-content-10">
                    <h2>Gramercy Tavern</h2>
                    <span>R$ 55,00</span>

                </div>

                <div id="input-produtos">
                    <div class="inputValor">
                        <button onclick="decrement('quantidade-10')">-</button>
                        <div id="valor">
                            <p id="quantidade-10">0</p>
                        </div>
                        <button href="" onclick="increment('quantidade-10')">+</button>
                    </div>
                    <img id="sacola-icon"
                        onclick="adicionarAoCarrinho('sacola-icon-10', '10-Hamburguer Gramercy gurmet', 99.50)"
                        src="assets/img/icons/sacola.png" alt="">
                </div>

            </div>
            <!-- card 11 -->
            <div class="card" id="texto-card-11">

                <img class="imgProduto" src="assets/img/card-produtos/img-11.jpg" alt="">

                <div class="content-card" id="card-content-11">
                    <h2>Gramercy Tavern</h2>
                    <span>R$ 55,00</span>

                </div>

                <div id="input-produtos">
                    <div class="inputValor">
                        <button onclick="decrement('quantidade-11')">-</button>
                        <div id="valor">
                            <p id="quantidade-11">0</p>
                        </div>
                        <button href="" onclick="increment('quantidade-11')">+</button>
                    </div>
                    <img id="sacola-icon"
                        onclick="adicionarAoCarrinho('sacola-icon-11', '11-Hamburguer Gramercy gurmet', 99.50)"
                        src="assets/img/icons/sacola.png" alt="">
                </div>
            </div>
            <!-- card 12 -->
            <div class="card" id="texto-card-12">
                <img class="imgProduto" src="assets/img/card-produtos/img-12.jpg" alt="">
                <div class="content-card" id="card-content-12">
                    <h2>Gramercy Tavern</h2>
                    <span>R$ 55,00</span>
                </div>
                <div id="input-produtos">
                    <div class="inputValor">
                        <button onclick="decrement('quantidade-12')">-</button>
                        <div id="valor">
                            <p id="quantidade-12">0</p>
                        </div>
                        <button href="" onclick="increment('quantidade-12')">+</button>
                    </div>
                    <img id="sacola-icon"
                        onclick="adicionarAoCarrinho('sacola-icon-12', '12-Hamburguer Gramercy gurmet', 99.50)"
                        src="assets/img/icons/sacola.png" alt="">
                </div>
            </div>
        </div>
    </div>




        <!-- CARD OUTROS PRODUTOS -->
            <!-- PIZASS -->



    <div class="cards-pizza" id="cards-pizza">
        <div class="card" id="texto-card">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-1.jpg" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-13')">-</button>
                    <div id="valor">
                        <p id="quantidade-13">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-13','nomeProduto')">+</button>
                </div>


                <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>

        <!-- 2 -->

        <div class="card" id="texto-card-2">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-2.webp" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-14')">-</button>
                    <div id="valor">
                        <p id="quantidade-14">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-14','nomeProduto')">+</button>
                </div>

             
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon', '2-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>
        <!-- card 3  -->


        <div class="card" id="texto-card-3">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-3.webp" alt="">

            <div class="content-card" id="card-content-3">
                <h2>Gramercy Tavern</h2>
                <span>R$ 49,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-14')">-</button>
                    <div id="valor">
                        <p id="quantidade-14">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-14')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-14', '3-Hamburguer Gramercy gurmet', 99.50)"
                    src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>
        <!-- 4 -->
        <div class="card" id="texto-card-4">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-4.jpg" alt="">

            <div class="content-card" id="card-content-2">
                <h2>Gramercy Tavern</h2>
                <span>R$ 55,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-15')">-</button>
                    <div id="valor">
                        <p id="quantidade-15">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-15')">+</button>
                </div>
                <img id="sacola-icon"
                    onclick="adicionarAoCarrinho('sacola-icon-4', '4-Hamburguer Gramercy gurmet', 55.50)"
                    src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>
        <div class="card" id="texto-card">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-6.jpg" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-16')">-</button>
                    <div id="valor">
                        <p id="quantidade-16">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-16','nomeProduto')">+</button>
                </div>


                <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>
        <!-- 6 -->
        <div class="card" id="texto-card">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-7.jpg" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-17')">-</button>
                    <div id="valor">
                        <p id="quantidade-17">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-17','nomeProduto')">+</button>
                </div>


                <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>
        <!-- 7 -->
        <div class="card" id="texto-card">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-5.jpg" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-18')">-</button>
                    <div id="valor">
                        <p id="quantidade-18">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-18','nomeProduto')">+</button>
                </div>


                <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>
        <!-- 8 -->
        <div class="card" id="texto-card">

            <img class="imgProduto" src="assets/img/card-produtos/pizza-7.jpg" alt="">

            <div class="content-card" id="card-content">
                <h2>Gramercy Tavern</h2>
                <span>R$ 99,00</span>

            </div>

            <div id="input-produtos">
                <div class="inputValor">
                    <button onclick="decrement('quantidade-19')">-</button>
                    <div id="valor">
                        <p id="quantidade-19">0</p>
                    </div>
                    <button href="" onclick="increment('quantidade-19','nomeProduto')">+</button>
                </div>


                <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
            </div>

        </div>
        <!--  -->
        

    </div>


   <!-- CHURRASCO -->

  



   <div class="card-churrasco" id="card-churrasco">
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-1.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-20')">-</button>
                <div id="valor">
                    <p id="quantidade-20">0</p>
                </div>
                <button href="" onclick="increment('quantidade-20','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>

    <!-- 2 -->

    <div class="card" id="texto-card-2">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-2.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-21')">-</button>
                <div id="valor">
                    <p id="quantidade-21">0</p>
                </div>
                <button href="" onclick="increment('quantidade-21','nomeProduto')">+</button>
            </div>

         
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon', '2-Hamburguer Gramercy gurmet', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- card 3  -->


    <div class="card" id="texto-card-3">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-3.jpg" alt="">

        <div class="content-card" id="card-content-3">
            <h2>Gramercy Tavern</h2>
            <span>R$ 49,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-22')">-</button>
                <div id="valor">
                    <p id="quantidade-22">0</p>
                </div>
                <button href="" onclick="increment('quantidade-22')">+</button>
            </div>
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon-14', '3-Hamburguer Gramercy gurmet', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 4 -->
    <div class="card" id="texto-card-4">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-4.jpg" alt="">

        <div class="content-card" id="card-content-2">
            <h2>Gramercy Tavern</h2>
            <span>R$ 55,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-23')">-</button>
                <div id="valor">
                    <p id="quantidade-23">0</p>
                </div>
                <button href="" onclick="increment('quantidade-23')">+</button>
            </div>
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon-4', '4-Hamburguer Gramercy gurmet', 55.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-5.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-24')">-</button>
                <div id="valor">
                    <p id="quantidade-24">0</p>
                </div>
                <button href="" onclick="increment('quantidade-24','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 6 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-6.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-25')">-</button>
                <div id="valor">
                    <p id="quantidade-25">0</p>
                </div>
                <button href="" onclick="increment('quantidade-25','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 7 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-7.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-26')">-</button>
                <div id="valor">
                    <p id="quantidade-26">0</p>
                </div>
                <button href="" onclick="increment('quantidade-26','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 8 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/churrasco/img-8.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-27')">-</button>
                <div id="valor">
                    <p id="quantidade-27">0</p>
                </div>
                <button href="" onclick="increment('quantidade-27','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!--  -->
    

</div>



                        <!-- BEBIDAS -->

<div class="card-bebidas" id="card-bebidas">
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-1.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-28')">-</button>
                <div id="valor">
                    <p id="quantidade-28">0</p>
                </div>
                <button href="" onclick="increment('quantidade-28','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>

    <!-- 2 -->

    <div class="card" id="texto-card-2">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-2.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-29')">-</button>
                <div id="valor">
                    <p id="quantidade-29">0</p>
                </div>
                <button href="" onclick="increment('quantidade-29','nomeProduto')">+</button>
            </div>

         
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon', '2-Hamburguer Gramercy gurmet', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- card 3  -->


    <div class="card" id="texto-card-3">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-3.jpg" alt="">

        <div class="content-card" id="card-content-3">
            <h2>Gramercy Tavern</h2>
            <span>R$ 49,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-30')">-</button>
                <div id="valor">
                    <p id="quantidade-30">0</p>
                </div>
                <button href="" onclick="increment('quantidade-30')">+</button>
            </div>
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon-14', '3-Hamburguer Gramercy gurmet', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 4 -->
    <div class="card" id="texto-card-4">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-4.jpg" alt="">

        <div class="content-card" id="card-content-2">
            <h2>Gramercy Tavern</h2>
            <span>R$ 55,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-31')">-</button>
                <div id="valor">
                    <p id="quantidade-31">0</p>
                </div>
                <button href="" onclick="increment('quantidade-31')">+</button>
            </div>
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon-4', '4-Hamburguer Gramercy gurmet', 55.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-5.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-32')">-</button>
                <div id="valor">
                    <p id="quantidade-32">0</p>
                </div>
                <button href="" onclick="increment('quantidade-32','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 6 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-6.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-33')">-</button>
                <div id="valor">
                    <p id="quantidade-33">0</p>
                </div>
                <button href="" onclick="increment('quantidade-33','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 7 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-7.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-34')">-</button>
                <div id="valor">
                    <p id="quantidade-34">0</p>
                </div>
                <button href="" onclick="increment('quantidade-34','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 8 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/bebidas/img-8.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-35')">-</button>
                <div id="valor">
                    <p id="quantidade-35">0</p>
                </div>
                <button href="" onclick="increment('quantidade-35','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!--  -->
    

</div>





                         <!-- SOBREMESAS -->

<div class="card-sobremesas" id="card-sobremesas">
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-1.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-36')">-</button>
                <div id="valor">
                    <p id="quantidade-36">0</p>
                </div>
                <button href="" onclick="increment('quantidade-36','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>

    <!-- 2 -->

    <div class="card" id="texto-card-2">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-2.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-37')">-</button>
                <div id="valor">
                    <p id="quantidade-37">0</p>
                </div>
                <button href="" onclick="increment('quantidade-37','nomeProduto')">+</button>
            </div>

         
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon', '2-Hamburguer Gramercy gurmet', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- card 3  -->


    <div class="card" id="texto-card-3">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-3.jpg" alt="">

        <div class="content-card" id="card-content-3">
            <h2>Gramercy Tavern</h2>
            <span>R$ 49,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-38')">-</button>
                <div id="valor">
                    <p id="quantidade-38">0</p>
                </div>
                <button href="" onclick="increment('quantidade-38')">+</button>
            </div>
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon-14', '3-Hamburguer Gramercy gurmet', 99.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 4 -->
    <div class="card" id="texto-card-4">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-4.jpeg" alt="">

        <div class="content-card" id="card-content-2">
            <h2>Gramercy Tavern</h2>
            <span>R$ 55,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-39')">-</button>
                <div id="valor">
                    <p id="quantidade-39">0</p>
                </div>
                <button href="" onclick="increment('quantidade-39')">+</button>
            </div>
            <img id="sacola-icon"
                onclick="adicionarAoCarrinho('sacola-icon-4', '4-Hamburguer Gramercy gurmet', 55.50)"
                src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-5.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-40')">-</button>
                <div id="valor">
                    <p id="quantidade-40">0</p>
                </div>
                <button href="" onclick="increment('quantidade-40','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 6 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-6.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-41')">-</button>
                <div id="valor">
                    <p id="quantidade-41">0</p>
                </div>
                <button href="" onclick="increment('quantidade-41','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 7 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-7.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-42')">-</button>
                <div id="valor">
                    <p id="quantidade-42">0</p>
                </div>
                <button href="" onclick="increment('quantidade-42','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!-- 8 -->
    <div class="card" id="texto-card">

        <img class="imgProduto" src="assets/img/card-produtos/sobremessas/img-8.jpg" alt="">

        <div class="content-card" id="card-content">
            <h2>Gramercy Tavern</h2>
            <span>R$ 99,00</span>

        </div>

        <div id="input-produtos">
            <div class="inputValor">
                <button onclick="decrement('quantidade-43')">-</button>
                <div id="valor">
                    <p id="quantidade-43">0</p>
                </div>
                <button href="" onclick="increment('quantidade-43','nomeProduto')">+</button>
            </div>


            <img id="sacola-icon" onclick="adicionarAoCarrinho('sacola-icon', '1-Hamburguer Gramercy Taver', 99.50)"
            src="assets/img/icons/sacola.png" alt="Adicionar ao Carrinho">
        </div>

    </div>
    <!--  -->
    

</div>









    <button id="verMais" onclick="abrirCard()">Ver Mais</button>


    <!-- Botão Flutuante do Carrinho -->
    <div id="buttonFlutuanteCarrinho" onclick="abrirCarrinhoFlutuante()">
        <p id="quantidadeProdutos">0</p>
        <img src="assets/img/icons/sacola.png" alt="">
    </div>

    <button id="mensagem">
        <p>Item adicionado ao carrinho</p>
    </button>

</section>