<section class="section-5" id="reservas">
    <main class="main">
        <div>
            <span>RESERVA
            </span>
            <h1>Quer reservar um horário?</h1>
            <p>Mande uma mensagem clicando no botão abaixo
                Reserve sua data e horário de forma simples e rápida.</p>
                <button onclick="reserva()">Fazer reserva!</button>

        </div>
        <div class="img">
            
            <img src="assets/img/content_5/icone-reserva-2.png" alt="">

        </div>

    </main>

</section>