.section-5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  width: 80%;
  height: 80%;
  border: 1px solid var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  padding: 50px;
}

.main div {
  width: 50%;
  height: 80%;
}

.main span {
  color: var(--color-primary);
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.2vw;
  letter-spacing: 4px;
}

.main h1 {
  color: var(--color-black);
  font-family: "Poppins";
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: bolder;
  font-size: 2.5rem;
}

.main p {
  color: var(--color-white);
  font-family: "Poppins";
  font-size: 1.2vw;
}

.main button {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
  margin-top: 5vh;
  transition: 0.5s;
}
.main button:hover {
  box-shadow: 1px 1px 1rem black;
}

/* // img */

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  width: 40vw;
}

/* MIDIA SCREMM 480PX */
@media screen and (max-width: 480px) {
  .section-5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }

  .main {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    padding: 50px;
  }

  .main div {
    width: 100%;
    height: 50%;
  }

  .main span {
    color: var(--color-primary);
    font-family: "Poppins";
    font-weight: 800;
    font-size: 5vw;
  }

  .main h1 {
    color: var(--color-black);
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 1rem;
  }

  .main p {
    color: var(--color-white);
    font-family: "Poppins";
    font-size: 2vw;
  }

  .main button {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 5vh;
    transition: 0.5s;
    width: 100%;
    font-size: 4vw;
    z-index: 10;
  }
  .main button:hover {
    box-shadow: 1px 1px 1rem black;
  }

  /* // img */

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
  }

  .img img {
    width: 50vw;
  }
}



/* MIDIA SCREEN 481PX AND 767PX */
@media (min-width:481px) and (max-width:767px){
  .section-5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }

  .main {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    padding: 50px;
  }

  .main div {
    width: 100%;
    height: 50%;
  }

  .main span {
    color: var(--color-primary);
    font-family: "Poppins";
    font-weight: 800;
    font-size: 5vw;
  }

  .main h1 {
    color: var(--color-black);
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 1rem;
  }

  .main p {
    color: var(--color-white);
    font-family: "Poppins";
    font-size: 2vw;
  }

  .main button {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 5vh;
    transition: 0.5s;
    width: 100%;
    font-size: 4vw;
    z-index: 10;
  }
  .main button:hover {
    box-shadow: 1px 1px 1rem black;
  }

  /* // img */

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
  }

  .img img {
    width: 50vw;
  }
}


/* MIDIA SCREEN 768PX AND 991PX */
@media (min-width:768px) and (max-width:991px){
  .section-5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }

  .main {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    padding: 50px;
  }

  .main div {
    width: 100%;
    height: 50%;
  }

  .main span {
    color: var(--color-primary);
    font-family: "Poppins";
    font-weight: 800;
    font-size: 5vw;
  }

  .main h1 {
    color: var(--color-black);
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 1rem;
  }

  .main p {
    color: var(--color-white);
    font-family: "Poppins";
    font-size: 2vw;
  }

  .main button {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 5vh;
    transition: 0.5s;
    width: 100%;
    font-size: 4vw;
    z-index: 10;
  }
  .main button:hover {
    box-shadow: 1px 1px 1rem black;
  }

  /* // img */

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
  }

  .img img {
    width: 50vw;
  }
}



@media (min-width:992px) and (max-width:1199px){
  .section-5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }

  .main {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    padding: 50px;
  }

  .main div {
    width: 100%;
    height: 50%;
  }

  .main span {
    color: var(--color-primary);
    font-family: "Poppins";
    font-weight: 800;
    font-size: 5vw;
  }

  .main h1 {
    color: var(--color-black);
    font-family: "Poppins";
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 1rem;
  }

  .main p {
    color: var(--color-white);
    font-family: "Poppins";
    font-size: 2vw;
  }

  .main button {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 5vh;
    transition: 0.5s;
    width: 100%;
    font-size: 4vw;
    z-index: 10;
  }
  .main button:hover {
    box-shadow: 1px 1px 1rem black;
  }

  /* // img */

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
  }

  .img img {
    width: 50vw;
  }
}