<section id="section-4" id="depoimentos">

    <div class="img-pizza">
      <img src="assets/img/content_4/pizzas.png" alt="">
      <div class="bk-pizza">
  
      </div>
  
    </div>
    <div class="content-pizza">
      <div class="content-titulo">
        <span>DEPOIMENTOS</span>
        <h1>O que dizem sobre nós?</h1>
      </div>
  
      <div class="cometarios">
  
        <!-- <img src="assets/img/img-section-4/icons8-estrela.gif" alt=""> -->
        <div class="card-1" id="card-1">
          <div class="clientes-comentarios">
            <img src="assets/img/content_4/img-1.jpg" alt="">
            <h1>Jessica Pereira</h1>
  
          </div>
          <div class="estrelas">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <h4>5.0</h4>
          </div>
  
  
          <p>
            <img class="aspas1" src="assets/img/content_4/aspas-1.png" alt="">
            Muito bom, recomendo demais! Comida muito bem feita pelo chefe, atendimento dentro dos parâmetros e boa
            comunicação com o cliente.
          </p>
          <img class="aspas2" src="assets/img/content_4/aspas-2.png" alt="">
  
        </div>
        <!-- card 2 -->
  
        <div class="card-2" id="card-2">
          <div class="clientes-comentarios">
            <img src="assets/img/content_4/img2.png" alt="">
            <h1>Lucas Santos</h1>
  
          </div>
          <div class="estrelas">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/estrela-img.png" alt="">
            <h4>4.0</h4>
          </div>
  
  
          <p>
            <img class="aspas1" src="assets/img/content_4/aspas-1.png" alt="">
            Um jantar perfeito do começo ao fim. Comida, experiência, serviço...
            foi tão maravilhoso que fomos dois dias seguidos - fato inédito para mim em uma viagem.
          </p>
          <img class="aspas2" src="assets/img/content_4/aspas-2.png" alt="">
  
        </div>
  
        <!-- card 3 -->
        <div class="card-3" id="card-3">
          <div class="clientes-comentarios">
            <img src="assets/img/content_4/img-3.jpg" alt="">
            <h1>Jose Henrique</h1>
  
          </div>
          <div class="estrelas">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/icons8-estrela.gif" alt="">
            <img class="gif" src="assets/img/content_4/estrela-meio-vazia.png" alt="">
            <h4>4.5</h4>
          </div>
  
  
          <p>
            <img class="aspas1" src="assets/img/content_4/aspas-1.png" alt="">
  
            A comida estava excelente e o serviço gentil nos surpreendeu! Dica: reserve umas 3 horas para
            ter uma experiência incrível.
          </p>
          <img class="aspas2" src="assets/img/content_4/aspas-2.png" alt="">
  
        </div>
  
  
  
  
  
  
  
  
        <p>
          <button class="btn " onclick="card1()">
            1
          </button>
          <button class="btn " onclick="card2()">
            2
          </button>
          <button class="btn " onclick="card3()">
            3
          </button>
        </p>
      </div>
  
    </div>
  
  </section>